body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  padding-top: 44px;
}

.navbar .navbar-nav .nav-item {
  margin-right: 15px;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #2f281e;
}

.navbar .navbar-nav .nav-item .btn-sign-in {
  width: 102px;
  height: 46px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  color: #173a56;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 11px 22.22px;
  margin-left: 29px;
}

.navbar .navbar-nav .nav-item .btn-sign-up {
  width: 110px;
  height: 46px;
  border: none;
  background: #ff9900;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 11px 22.22px;
}

section.jumbotron .text {
  padding-top: 113px;
}

section.jumbotron .logo_jumbotron {
  padding-top: 30px;
}

section.jumbotron .text h1 {
  font-size: 44px;
  line-height: 54px;
  font-weight: bold;
  color: #2f281e;
}

section.jumbotron .text p {
  font-size: 18px;
  line-height: 28px;
  padding: 30px 0px 45px 0px;
  font-weight: normal;
  color: #544837;
}

section.jumbotron .text .btn-started {
  width: 175px;
  height: 53px;
  background: #ff9900;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-right: 30px;
  border: none;
}

section.jumbotron .text .btn-watch {
  width: 190px;
  height: 53px;
  color: #ff9900;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

section.jumbotron .text .btn-watch h6 {
  padding-left: 9px;
  padding-top: 3px;
  font-weight: 600;
}

section.feature {
  padding-top: 110px;
}

section.feature h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #2f281e;
}

section.feature .box-feature {
  position: relative;
  margin-top: 46px;
}

section.feature img.background {
  height: 389px !important;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}

section.feature .list_feature {
  position: relative;
}

section.feature .list_feature .feature_box h1 {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #2f281e;
  padding-top: 30px;
  padding-bottom: 13px;
}

section.feature .list_feature .feature_box p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}

section.feature .list_feature .btn_feature {
  margin-top: 34px;
}

section.validations {
  margin-top: 120px;
}

section.pm {
  margin-top: 101px;
}

section.validations .text {
  padding-top: 146px;
}

section.pm .text {
  padding-top: 150px;
}

section.validations .image_background,
section.pm .image_background {
  padding-top: 120px;
}

section.validations .text p,
section.pm .text p,
section.marketings .text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #544837;
}

section.validations .text h1,
section.pm .text h1,
section.marketings .text h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #2f281e;
  padding-bottom: 22px;
}

section.validations .text .list_validations h6 {
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #2f281e;
  padding-bottom: 12px;
}

section.pm .text .list_pm {
  display: flex;
}

section.pm .text .list_pm p {
  padding-left: 30px;
  padding-top: 18px;
}

section.hero {
  margin-top: 157px;
  margin-bottom: 165px;
  height: 835px;
}

section.hero h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #2f281e;
}

section.hero .box-hero {
  position: relative;
  margin-top: 46px;
}

section.hero .box-hero .background-hero {
  object-fit: contain;
}

section.hero img.background {
  height: 389px !important;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}

section.hero .list_hero {
  position: relative;
  padding-top: 100px;
  margin-top: 116px;
  background-image: url("/assets/images/hero-avator.png");
  object-fit: contain;
  height: 584px;
  background-repeat: no-repeat;
}

section.hero .list_hero p {
  font-weight: 500;
  font-size: 16px;
  color: #567592;
  padding: 22px 0 45px 0;
  margin-bottom: 0;
}

section.marketings {
  margin-top: 165px;
  margin-bottom: 120px;
}

section.marketings .text {
  margin-bottom: 55px;
}

section.marketings .text h1 {
  padding-bottom: 0px;
}

section.marketings .text p {
  padding-top: 9px;
}

section.marketings .card .card-body {
  padding-left: 0px;
}

section.marketings .card .card-body .card-title {
  font-size: 16px;
  color: #544837;
}

section.marketings .card .card-body .card-text {
  font-size: 24px;
  font-weight: bold;
  color: #2f281e;
  cursor: pointer;
}

section.marketings .card .card-body .card-text:hover {
  color: #ff9900;
}

section.marketings .slide {
  display: flex;
  margin-top: 45px;
  justify-content: center;
}

section.marketings .slide .circle,
section.marketings .slide .circle-active {
  width: 16px;
  height: 16px;
  background: #efefef;
  border-radius: 50%;
  margin-right: 10px;
}

section.marketings .slide .circle-active {
  background: #ff9900;
}

.list-footer {
  margin-top: 33px;
  margin-bottom: 95px;
  display: flex;
  justify-content: flex-end;
}

.list-footer .list-group {
  margin-right: 129px;
}

.list-footer .list-group .list-group-item {
  border: none;
  cursor: pointer;
}

.list-footer .list-group .list-group-item:hover {
  text-decoration: underline;
}

.btn-sign-up {
  width: 175px;
  height: 53px;
  background: #ff9900;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.btn-sign-up:hover {
  background: #ff9900;
  color: #ffffff;
}
